<div class="section pd-114px bg-neutral-800 wf-section">
      <div class="container-default w-container">
        <div data-w-id="b64df718-3e0b-32e0-9e1f-66b5179a0b93" class="text-center mg-bottom-48px">
          <div class="subtitle color-neutral-500">{{ texts.-649bc0d2 }}</div>
          <h2 class="color-neutral-100">{{ texts.-50d3c3e3 }}</h2>
          <div class="text-300 medium color-neutral-100">{{ texts.7649a830 }}</div>
        </div>
        <div class="inner-container _832px center">
          <div class="grid-3-columns app-badges">
            <div id="w-node-_47b7ba3c-753c-a494-aef7-8af6c66d4d13-179a0b91" data-w-id="47b7ba3c-753c-a494-aef7-8af6c66d4d13">
              <a href="{{ links.23c86b01 }}" target="_blank" class="badge-primary white link w-inline-block"><img src="{{ images.1d978fa.url }}" loading="eager" id="w-node-b64df718-3e0b-32e0-9e1f-66b5179a0b9d-179a0b91" alt="{{ images.1d978fa.alt | trim | escape }}"></a>
            </div>
            <div id="w-node-_44d85b97-481b-ca1f-62e3-66477c6a641d-179a0b91" data-w-id="44d85b97-481b-ca1f-62e3-66477c6a641d">
              <a href="{{ links.-59e69b4a }}" target="_blank" class="badge-primary white link w-inline-block"><img src="{{ images.2cdf7c20.url }}" loading="eager" id="w-node-b64df718-3e0b-32e0-9e1f-66b5179a0b9f-179a0b91" alt="{{ images.2cdf7c20.alt | trim | escape }}"></a>
            </div>
            <div id="w-node-b956130f-0ae4-04b7-aeff-786d1b141af6-179a0b91" data-w-id="b956130f-0ae4-04b7-aeff-786d1b141af6">
              <a href="{{ links.-261c7423 }}" target="_blank" class="badge-primary white link w-inline-block"><img src="{{ images.3e37985a.url }}" loading="eager" id="w-node-b64df718-3e0b-32e0-9e1f-66b5179a0ba1-179a0b91" alt="{{ images.3e37985a.alt | trim | escape }}"></a>
            </div>
          </div>
        </div>
        <div class="inner-container _694px center">
          <div class="grid-3-columns app-badges bottom">
            <div id="w-node-_52fec587-5ce1-21be-550a-5b7079e8c969-179a0b91" data-w-id="52fec587-5ce1-21be-550a-5b7079e8c969">
              <a href="{{ links.550f10a5 }}" target="_blank" class="badge-primary white link w-inline-block"><img src="{{ images.5fa7b7a9.url }}" loading="eager" id="w-node-b64df718-3e0b-32e0-9e1f-66b5179a0ba5-179a0b91" alt="{{ images.5fa7b7a9.alt | trim | escape }}"></a>
            </div>
            <div id="w-node-_9b10cea9-9a38-d488-152c-b61ea94979ec-179a0b91" data-w-id="9b10cea9-9a38-d488-152c-b61ea94979ec">
              <a href="{{ links.6d5b1d67 }}" target="_blank" class="badge-primary white link w-inline-block"><img src="{{ images.-1dde503a.url }}" loading="eager" id="w-node-b64df718-3e0b-32e0-9e1f-66b5179a0ba7-179a0b91" alt="{{ images.-1dde503a.alt | trim | escape }}"></a>
            </div>
            <div id="w-node-_71cc662a-4a70-f8bf-8483-ca540bf0aa78-179a0b91" data-w-id="71cc662a-4a70-f8bf-8483-ca540bf0aa78">
              <a href="{{ links.-1c8d6c72 }}" target="_blank" class="badge-primary white link w-inline-block"><img src="{{ images.6726a308.url }}" loading="eager" id="w-node-b64df718-3e0b-32e0-9e1f-66b5179a0ba9-179a0b91" alt="{{ images.6726a308.alt | trim | escape }}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>