<div class="footer-wrapper">
    <div class="position-relative---z-index-1 is--hidden">
      <div class="container-default w-container">
        <div class="flex vertical-reverse-mbl">
          <div data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d530f" class="card footer-reservation">
            <div class="color-neutral-100 text-center">
              <div class="text-200 medium text-uppercase">{{ texts.63eebac }}</div>
            </div>
            <div class="divider reservation-card"></div>
            <h3 class="color-neutral-100 text-center mg-bottom-32px">{{ texts.-5b2eb1c2 }}</h3>
            <div class="flex-horizontal mg-bottom-40px">
              <div class="text-200 color-neutral-100">{{ texts.-21382595 }}</div>
              <div class="divider-details reservation-card"></div>
              <div class="text-200 color-neutral-100 no-wrap-text">{{ texts.-70f65c78 }}</div>
            </div>
            <div class="flex-horizontal mg-bottom-40px">
              <div class="text-200 color-neutral-100">{{ texts.34f13fba }}</div>
              <div class="divider-details reservation-card"></div>
              <div class="text-200 color-neutral-100 no-wrap-text">{{ texts.-f20ee1e }}</div>
            </div>
            <div class="flex-horizontal mg-bottom-48px">
              <div class="text-200 color-neutral-100">{{ texts.-b76bf7d }}</div>
              <div class="divider-details reservation-card"></div>
              <div class="text-200 color-neutral-100 no-wrap-text">{{ texts.-76f48bf }}</div>
            </div>
            <div class="inner-container _248px center">
              <div class="text-center mg-bottom-48px">
                <div class="heading-h5-size color-neutral-100">{{ texts.645ab97a }}</div>
              </div>
            </div>
            <div class="flex-horizontal">
              <a href="{{ links.4b0e6111 }}" class="btn-secondary w-button">{{ texts.624d95b3 }}</a>
            </div>
          </div>
          <div data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d532f" class="inner-container _584px">
            <div class="subtitle">{{ texts.-460968a7 }}</div>
            <h2>{{ texts.-9537a17 }}</h2>
            <p class="mg-bottom-0">{{ texts.1862d300 }}</p>
          </div>
        </div>
      </div><img src="{{ images.30ecba77.url }}" loading="eager" data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d5336" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="(max-width: 479px) 0px, 100vw" alt="{{ images.30ecba77.alt | trim | escape }}" class="footer-map-image">
    </div>
    <footer class="footer-main-wrapper">
      <div class="container-default w-container">
        <div class="footer-top border-bottom">
          <div class="w-layout-grid grid-footer-4-columns">
            <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d533b-0c1d530b" data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d533b" class="inner-container _312px _100-tablet">
              <a href="{{ links.2f }}" class="footer-logo-wrapper w-inline-block"><img src="{{ images.7dfae1bd.url }}" height="Auto" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;87vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;200.00001525878906px&quot;}]" alt="{{ images.7dfae1bd.alt | trim | escape }}" class="footer-logo"></a>
              <p class="color-neutral-300 mg-bottom-32px">{{ texts.39a57337 }}</p>
              <div class="w-layout-grid social-media-grid-top">
                <a href="{{ links.-6f711752 }}" target="_blank" class="social-icon-square dark w-inline-block">
                  <div class="social-icon-font">{{ texts.e810 }}</div>
                </a>
                <a href="{{ links.77363590 }}" target="_blank" class="social-icon-square dark w-inline-block">
                  <div class="social-icon-font">{{ texts.e807 }}</div>
                </a>
              </div>
            </div>
            <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d534d-0c1d530b" data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d534d">
              <div class="text-200 medium footer-title">{{ texts.-71f4fc52 }}</div>
              <ul role="list" class="footer-list-wrapper">
                <li class="footer-list-item">
                  <a href="{{ links.2f }}" class="footer-link">{{ texts.3c2738f }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.23 }}" class="footer-link">{{ texts.-6759887 }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.23 }}" class="footer-link">{{ texts.46ca562 }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.623742f0 }}" target="_blank" class="footer-link special">{{ texts.5e182306 }}</a>
                </li>
              </ul>
            </div>
            <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5363-0c1d530b" data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d5363">
              <div class="text-200 medium footer-title">{{ texts.-131aec30 }}</div>
              <ul role="list" class="footer-list-wrapper">
                <li class="footer-list-item">
                  <a href="{{ links.-68a2a75e }}" class="footer-link">{{ texts.-33cc298a }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.-68a2a75e }}" class="footer-link">{{ texts.214f9f }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.-12be84a4 }}" class="footer-link">{{ texts.3a9f2118 }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.28a17040 }}" class="footer-link">{{ texts.499c1d3 }}</a>
                </li>
                <li class="footer-list-item">
                  <a href="{{ links.88c84a9 }}" class="footer-link">{{ texts.-64104400 }}</a>
                </li>
              </ul>
            </div>
            <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5379-0c1d530b" data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d5379" class="inner-container _384px _100-mbl">
              <div class="text-200 medium footer-title">{{ texts.-189adf32 }}</div>
              <div class="grid-1-column gap-row-24px">
                <div class="grid-2-columns footer-location">
                  <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d537e-0c1d530b" class="footer-location-text">
                    <div class="text-100 medium footer-location">{{ texts.-6738db37 }}</div>
                    <a href="{{ links.-1ef0e9a5 }}" target="_blank" class="footer-link is--neutral">{{ texts.-388ff7a5 }}</a>
                    <a href="{{ links.-531e9a09 }}" class="footer-link is--neutral">{{ texts.417b31ef }}</a>
                    <a href="{{ links.745e9be9 }}" class="footer-link is--neutral">{{ texts.54835ba8 }}</a>
                  </div>
                  <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5383-0c1d530b" class="flex"><img src="{{ images.-715e7881.url }}" loading="eager" id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5384-0c1d530b" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;133.10765075683594px&quot;}]" sizes="(max-width: 479px) 100vw, 133.09375px" alt="{{ images.-715e7881.alt | trim | escape }}" class="fit-cover"></div>
                </div>
                <div class="grid-2-columns footer-location">
                  <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5386-0c1d530b" class="footer-location-text">
                    <div class="text-100 medium footer-location">{{ texts.-5b884541 }}</div>
                    <a href="{{ links.23 }}" class="footer-link is--neutral">{{ texts.-4142e40f }}</a>
                    <a href="{{ links.4070150c }}" class="footer-link is--neutral">{{ texts.-2e8b51ec }}</a>
                    <a href="{{ links.-6193846d }}" class="footer-link is--neutral">{{ texts.-3909fb76 }}</a>
                  </div>
                  <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d538b-0c1d530b" class="flex"><img src="{{ images.46fa14d0.url }}" loading="eager" id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d538c-0c1d530b" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;32vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;133.10765075683594px&quot;}]" sizes="(max-width: 479px) 100vw, 133.09375px" alt="{{ images.46fa14d0.alt | trim | escape }}" class="fit-cover"></div>
                </div>
                <div class="grid-2-columns footer-location">
                  <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d538e-0c1d530b" class="footer-location-text">
                    <div class="text-100 medium footer-location">{{ texts.22dca8 }}</div>
                    <a href="{{ links.23 }}" class="footer-link is--neutral">{{ texts.-55a455bf }}</a>
                    <a href="{{ links.1d440e5c }}" class="footer-link is--neutral">{{ texts.-51b7589c }}</a>
                    <a href="{{ links.-3ebff0c9 }}" class="footer-link is--neutral">{{ texts.595ed2da }}</a>
                  </div>
                  <div id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5393-0c1d530b" class="flex"><img src="{{ images.-62e69e80.url }}" loading="eager" id="w-node-_0871ffcb-7a6b-f023-18d1-ecf60c1d5394-0c1d530b" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;32vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;133.10765075683594px&quot;}]" sizes="(max-width: 479px) 100vw, 133.09375px" alt="{{ images.-62e69e80.alt | trim | escape }}" class="fit-cover"></div>
                </div>
                <div class="grid-2-columns footer-location">
                  <div id="w-node-_5c9a17b3-d9a7-bd20-3c7d-b22f8f318bf0-0c1d530b" class="footer-location-text">
                    <div class="text-100 medium footer-location">{{ texts.771a562f }}</div>
                    <a href="{{ links.15568144 }}" target="_blank" class="footer-link is--neutral">{{ texts.-302a9990 }}</a>
                    <a href="{{ links.-24aab97f }}" class="footer-link is--neutral">{{ texts.3d97bd89 }}</a>
                    <a href="{{ links.37934931 }}" class="footer-link is--neutral">{{ texts.-19afdedc }}</a>
                  </div>
                  <div id="w-node-_5c9a17b3-d9a7-bd20-3c7d-b22f8f318bf5-0c1d530b" class="flex"><img src="{{ images.a18b76.url }}" loading="eager" id="w-node-_5c9a17b3-d9a7-bd20-3c7d-b22f8f318bf6-0c1d530b" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;32vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;133.10765075683594px&quot;}]" sizes="(max-width: 479px) 100vw, 133.09375px" alt="{{ images.a18b76.alt | trim | escape }}" class="fit-cover"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div data-w-id="0871ffcb-7a6b-f023-18d1-ecf60c1d5396" class="color-neutral-300">{{ texts.-57c13e17 }}<a href="{{ links.-54551e99 }}" target="_blank">{{ texts.4d079f30 }}</a>
          </div>
        </div>
      </div>
    </footer>
  </div>