<div data-animation="default" class="header-wrapper w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="0ac9f51f-1759-9686-c184-6c647be34962" role="banner" data-duration="400">
    <div class="container-default w-container">
      <div data-w-id="9849a933-71fc-822a-a532-8d2edaefd106" class="header-content-wrapper">
        <a href="{{ links.2f }}" class="header-logo-link w-nav-brand"><img src="{{ images.-264c757b.url }}" height="56" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;150px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;186.6319580078125px&quot;}]" alt="{{ images.-264c757b.alt | trim | escape }}" class="header-logo"></a>
        <div class="header-middle">
          <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
            <ul role="list" class="header-nav-menu-list">
              <li class="header-nav-list-item middle is--hidden">
                <a href="{{ links.2f }}" class="header-nav-link w-nav-link">{{ texts.3c2738f }}</a>
              </li>
              <li class="header-nav-list-item middle">
                <a href="{{ links.23 }}" class="header-nav-link w-nav-link">{{ texts.46ca562 }}</a>
              </li>
              <li class="header-nav-list-item middle">
                <a href="{{ links.23 }}" class="header-nav-link w-nav-link">{{ texts.-6759887 }}</a>
              </li>
              <li class="header-nav-list-item middle">
                <a href="{{ links.23 }}" class="header-nav-link w-nav-link">{{ texts.-64104400 }}</a>
              </li>
              <li class="header-nav-list-item middle is--hidden">
                <div data-hover="true" data-delay="0" data-w-id="9849a933-71fc-822a-a532-8d2edaefd116" class="dropdown-wrapper w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div data-w-id="9849a933-71fc-822a-a532-8d2edaefd118" class="heading-h5-size">{{ texts.494ffa4 }}</div>
                    <div class="line-rounded-icon dropdown-arrow">{{ texts.e80f }}</div>
                  </div>
                  <nav class="dropdown-column-wrapper w-dropdown-list">
                    <div class="dropdown-pd pd-48px">
                      <div class="w-layout-grid grid-2-columns _2-col-mbl gap-column-80px">
                        <div id="w-node-_9849a933-71fc-822a-a532-8d2edaefd11f-7be34962">
                          <div class="mg-bottom-24px text-uppercase">
                            <div class="text-200 bold color-neutral-800">{{ texts.494ffa4 }}</div>
                          </div>
                          <div class="w-layout-grid grid-1-column dropdown-link-column">
                            <a href="{{ links.23 }}" class="dropdown-link w-dropdown-link">{{ texts.eaf9cc4 }}</a>
                            <a href="{{ links.2f }}" class="dropdown-link w-dropdown-link">{{ texts.2268ff }}</a>
                            <a href="{{ links.55b8e8be }}" class="dropdown-link w-dropdown-link">{{ texts.3c2336d }}</a>
                            <a href="{{ links.2c9660e }}" class="dropdown-link w-dropdown-link">{{ texts.24897f }}</a>
                            <a href="{{ links.2da4a150 }}" class="dropdown-link w-dropdown-link">{{ texts.-76868dd7 }}</a>
                            <a href="{{ links.2c48051 }}" class="dropdown-link w-dropdown-link">{{ texts.1fa3c2 }}</a>
                            <a href="{{ links.-35938739 }}" class="dropdown-link w-dropdown-link">{{ texts.-51dc9da2 }}</a>
                            <a href="{{ links.4b0e6111 }}" class="dropdown-link w-dropdown-link">{{ texts.-64104400 }}</a>
                            <a href="{{ links.69a57d23 }}" class="dropdown-link w-dropdown-link">{{ texts.34ef8014 }}</a>
                          </div>
                        </div>
                        <div id="w-node-_9849a933-71fc-822a-a532-8d2edaefd12f-7be34962">
                          <div class="mg-bottom-24px text-uppercase">
                            <div class="text-200 bold color-neutral-800">{{ texts.-131aec30 }}</div>
                          </div>
                          <div class="w-layout-grid grid-1-column dropdown-link-column">
                            <a href="{{ links.3ca0794a }}" class="dropdown-link w-dropdown-link">{{ texts.1581b92e }}</a>
                            <a href="{{ links.88c84a9 }}" class="dropdown-link w-dropdown-link">{{ texts.-74401f97 }}</a>
                            <a href="{{ links.88c84ac }}" class="dropdown-link w-dropdown-link">{{ texts.1607a2cd }}</a>
                            <a href="{{ links.70c24ae1 }}" class="dropdown-link w-dropdown-link">{{ texts.37fa6872 }}</a>
                            <a href="{{ links.-4af2610f }}" class="dropdown-link w-dropdown-link">{{ texts.7f9ce00b }}</a>
                            <a href="{{ links.-519bc31b }}" class="dropdown-link w-dropdown-link">{{ texts.-31d02e8c }}</a>
                            <a href="{{ links.-260cbcd9 }}" class="dropdown-link special w-dropdown-link">{{ texts.65147464 }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
              <li class="header-nav-list-item show-in-tablet">
                <a href="{{ links.2c9660e }}" class="btn-primary small w-button">{{ texts.667a5d97 }}</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header-right-side">
          <div class="hamburger-menu-wrapper w-nav-button">
            <div class="hamburger-menu-bar top"></div>
            <div class="hamburger-menu-bar bottom"></div>
          </div>
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-button-wrapper is--hidden">
            <a href="{{ links.23 }}" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button w-inline-block">
              <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ item_count }}</div><img src="{{ images.-7f299fdc.url }}" alt="{{ images.-7f299fdc.alt | trim | escape }}" class="cart-button-image">
              <div class="heading-h6-size hidden-on-mbp">{{ texts.1fef40 }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                <div class="w-commerce-commercecartheader cart-header">
                  <h4 class="w-commerce-commercecartheading heading-h5-size">{{ texts.-77ee8913 }}</h4>
                  <a href="{{ links.23 }}" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink cart-close-button w-inline-block">
                    <div class="line-square-icon">{{ texts.e815 }}</div>
                  </a>
                </div>
                <div class="w-commerce-commercecartformwrapper cart-form-wrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                    <script type="text/x-wf-template" id="wf-template-9849a933-71fc-822a-a532-8d2edaefd156"><div data-node-type="cart-item" class="cart-item-wrapper w-commerce-commercecartitem"><img data-node-type="cart-item-image" class="cart-image-image w-commerce-commercecartitemimage" data-sizes="[{"max":479,"size":"0px"},{"max":10000,"size":"100vw"}]" src="<%= it.image %>"><div data-node-type="cart-item-info" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" class="cart-item-title w-commerce-commercecartproductname"><%= it.name %></div><div class="cart-item-price"><%= it.price %></div><ul class="w-commerce-commercecartoptionlist"><% Object.entries(it.options).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" href="#" data-product-id="<%= it.uniqueId %>"><div class="cart-remove-link">Remove</div></a></div><input class="w-commerce-commercecartquantity input cart-quantity-input" name="<%= it.uniqueId %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                    <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-9849a933-71fc-822a-a532-8d2edaefd156"></div>
                    <div class="w-commerce-commercecartfooter cart-footer">
                      <div class="w-commerce-commercecartlineitem cart-line-item">
                        <div class="cart-subtotal">{{ texts.-677f446a }}</div>
                        <div class="w-commerce-commercecartordervalue cart-subtotal-number">{% money  items_subtotal_price  %}</div>
                      </div>
                      <div>
                        
                        <a href="{{ links.5032f721 }}" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton btn-primary" data-loading-text="Hang Tight...">{{ texts.-7941186e }}</a>
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate">
                    <div>{{ texts.3d503d2b }}</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate error-state">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ texts.-1c765d0d }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="{{ links.623742f0 }}" target="_blank" class="btn-primary small header-btn-hidde-on-mb w-button">{{ texts.5e182306 }}</a>
        </div>
      </div>
    </div>
  </div>