<div class="section wf-section">
      <div class="container-default w-container">
        <div id="w-node-d6b55eba-3ce9-4151-0df2-f57303bbcb73-03bbcb71" data-w-id="d6b55eba-3ce9-4151-0df2-f57303bbcb73" class="inner-container _820px center">
          <div class="text-center mg-bottom-40px">
            <div class="subtitle mg-bottom-8px">{{ texts.-37b7007b }}</div>
            <h2>{{ texts.-75b4af6c }}</h2>
            <p class="mg-bottom-0">{{ texts.2fe36ff7 }}</p>
          </div>
        </div>
        <div data-w-id="d6b55eba-3ce9-4151-0df2-f57303bbcb7b" class="mg-bottom-56px">
          <div data-delay="4000" data-animation="slide" class="slider-wrapper arrows-center w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-w-id="d6b55eba-3ce9-4151-0df2-f57303bbcb7c" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="slider-mask w-slider-mask">
              <div class="w-slide">
                <div class="inner-container _840px center">
                  <div class="locations-slider-image-wrapper"><img src="{{ images.426467fa.url }}" loading="eager" alt="{{ images.426467fa.alt | trim | escape }}" sizes="(max-width: 479px) 93vw, (max-width: 991px) 89vw, 738px" class="width-100"></div>
                  <div class="card locations-slider">
                    <h3 class="color-neutral-100 mg-bottom-16px">{{ texts.-6738db37 }}</h3>
                    <div class="color-neutral-200 mg-bottom-16px">{{ texts.-14f51f24 }}</div>
                    <div class="mg-bottom-8px">
                      <a href="{{ links.-6706a83 }}" class="text-200 medium link-white">{{ texts.6776d085 }}</a>
                    </div>
                    <a href="{{ links.202e1c14 }}" class="text-200 medium link-white">{{ texts.3b09bae5 }}</a>
                  </div>
                </div>
              </div>
              <div class="w-slide">
                <div class="inner-container _840px center">
                  <div class="locations-slider-image-wrapper"><img src="{{ images.-52b71ad5.url }}" loading="eager" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;93vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;89vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;738px&quot;}]" sizes="(max-width: 479px) 93vw, (max-width: 991px) 89vw, 738px" alt="{{ images.-52b71ad5.alt | trim | escape }}" class="width-100"></div>
                  <div class="card locations-slider">
                    <h3 class="color-neutral-100 mg-bottom-16px">{{ texts.-79648e7b }}</h3>
                    <div class="color-neutral-200 mg-bottom-16px">{{ texts.19fbd559 }}</div>
                    <div class="mg-bottom-8px">
                      <a href="{{ links.-6706a83 }}" class="text-200 medium link-white">{{ texts.6776d085 }}</a>
                    </div>
                    <a href="{{ links.52236bb5 }}" class="text-200 medium link-white">{{ texts.-45a529ba }}</a>
                  </div>
                </div>
              </div>
              <div class="w-slide">
                <div class="inner-container _840px center">
                  <div class="locations-slider-image-wrapper"><img src="{{ images.-7d904eaf.url }}" loading="eager" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;93vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;89vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;738px&quot;}]" sizes="(max-width: 479px) 93vw, (max-width: 991px) 89vw, 738px" alt="{{ images.-7d904eaf.alt | trim | escape }}" class="width-100"></div>
                  <div class="card locations-slider">
                    <h3 class="color-neutral-100 mg-bottom-16px">{{ texts.-6c91116b }}</h3>
                    <div class="color-neutral-200 mg-bottom-16px">{{ texts.-23a9ab6c }}</div>
                    <div class="mg-bottom-8px">
                      <a href="{{ links.-6706a83 }}" class="text-200 medium link-white">{{ texts.6776d085 }}</a>
                    </div>
                    <a href="{{ links.5580509f }}" class="text-200 medium link-white">{{ texts.6809c130 }}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-circle-secondary slider-arrow left---center-center w-slider-arrow-left">
              <div class="line-rounded-icon">{{ texts.e810 }}</div>
            </div>
            <div class="btn-circle-secondary slider-arrow right---center-center w-slider-arrow-right">
              <div class="line-rounded-icon">{{ texts.e811 }}</div>
            </div>
            <div class="hidden-on-desktop w-slider-nav w-round"></div>
          </div>
        </div>
        <div data-w-id="d6b55eba-3ce9-4151-0df2-f57303bbcbaf" class="flex-horizontal">
          <a href="{{ links.4b0e6111 }}" class="btn-primary w-button">{{ texts.624d95b3 }}</a>
        </div>
      </div>
    </div>